body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Sign-up-btn{
  width:20%;
  margin-left: 40%;
}
.my-custom-navbar {
  background-color: #fff;
   /* Your exact color code here */
}
.custom-navbar-border {
  /* thickness | style | color */
  border-bottom: 2px solid rgb(164, 164, 164)
  ; 
}
.nav-link{
  margin-left: 20px;
}